@import '@/styles/shared';

.root {
  display: block;
  opacity: 0;
  width: 100%;

  &.ratio1by1 {
    .iframe {
      aspect-ratio: 1/1 !important;
    }
  }

  &.ratio3by2 {
    .iframe {
      aspect-ratio: 3/2 !important;
    }
  }

  &.ratio16by9 {
    .iframe {
      aspect-ratio: 16/9 !important;
    }
  }

  .iframe {
    border: none;
    object-fit: contain;
    pointer-events: inherit;
  }
}
