@import '@/styles/shared';

.root {
  @include z-index(page);

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0;
  background: $gray-light;
  opacity: 0;
}
