@import '@/styles/shared';

.root {
  @include z-index(nav);
  @include position-0(fixed);
  @include gpu();
  right: 0;
  background-color: $black;
  backdrop-filter: blur(px(5));

  .skip {
    @include visually-hidden();
    z-index: 999;
    padding: px(16);
    background-color: $black;
    color: $white;

    &:focus {
      @include transform-center-horiz();
      position: absolute;
    }
  }

  .nav {
    @include horizontal-container();
    @include flex-center-vert();
    block-size: $navbar-height;
    row-gap: $desktop-grid-gap;

    ul {
      display: flex;
      gap: px(20);
      inline-size: desktop-columns(4);
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a {
      @include font-size(18);
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      position: relative;
      color: $white;
      text-decoration: none;
    }
  }

  .logo {
    inline-size: desktop-columns(4);
    margin-left: $desktop-grid-gap;

    a {
      @include font-size(26);
      font-weight: $font-weight-regular;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
