/* stylelint-disable */
@import 'shared';

:export {
  // breakpoints
  breakpoint-mobile: $breakpoint-mobile;
  breakpoint-tablet: $breakpoint-tablet;
  breakpoint-desktop: $breakpoint-desktop;

  // colors
  white: $white;
  off-white: $off-white;
  medium-squid-ink: $medium-squid-ink;
  smile-orange: $smile-orange;
  prime-blue: $prime-blue;
  squid-ink: $squid-ink;
  dark-squid-ink: $dark-squid-ink;
  black: $black;
}
