/* stylelint-disable */
@import 'shared';

:export {
  // breakpoints
  breakpoint-mobile: $breakpoint-mobile;
  breakpoint-tablet: $breakpoint-tablet;
  breakpoint-desktop: $breakpoint-desktop;

  // colors
  white: $white;
  black: $black;
}
