// Fonts

// Location of all the font-families and font-related css

// Best practices:
// 1. Avoid loading as many fonts as possible, e.x font styles, font families
// 2. Optimize the font, remove the characters set that the site won't use: languages
// 3. Include the unicode range in case you couldn't remove the characters. Included just Latin by default
// 4. Change fonts by just changing the font-weight

/* Fonts Map:
- 100 - Thin / Hairline
- 200 - Extra-light / Ultra-light
- 300 - Light
- 400 - Normal
- 500 - Medium
- 600 - Semi-bold / Demi-bold
- 700 - Bold
- 800 - Extra-bold / Ultra-Bold
- 900 - Black / Heavy

// NOTE: All fonts have italic variants too
*/

@import 'vars';

// StretchPro font family
@font-face {
  font-family: StretchPro;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/StretchPro.otf') format('opentype');
  font-display: swap;
}
