@import '@/styles/shared';

.root {
  @include position-100(fixed);
  @include z-index(debug-grid);
  @include flex-center;
  pointer-events: none;

  --columns: #{$mobile-columns};
  --grid-gap: #{$mobile-grid-gap};
  --side-padding: #{$mobile-side-padding};
  --max-width: #{$mobile-max-content-width};

  @include media-tablet {
    --columns: #{$tablet-columns};
    --side-padding: #{$tablet-side-padding};
    --grid-gap: #{$tablet-grid-gap};
    --max-width: #{$tablet-max-content-width};
  }

  @include media-desktop {
    --columns: #{$desktop-columns};
    --side-padding: #{$desktop-side-padding};
    --grid-gap: #{$desktop-grid-gap};
    --max-width: #{$desktop-max-content-width};
  }

  .container {
    @include box(100%);
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: 100%;
    gap: var(--grid-gap);
    outline: 1px solid $black;

    @include horizontal-container;

    .column {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      outline: 1px solid rgba($black, 0.7);

      @include media-mobile-only {
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          height: 100%;
          border: 1px dashed $black;
          opacity: 0.2;
        }
      }

      &:nth-child(odd) {
        background-color: rgba(#ff9e9e, 0.2);
      }

      &:nth-child(even) {
        background-color: rgba(#f8d099, 0.2);
      }

      .colNum {
        width: fit-content;
        font-family: 'Dank Mono', monospace;
        font-size: px(18);
        color: $black;
        margin-bottom: px(20);
      }
    }
  }
}
