@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.css')
  screen and (prefers-color-scheme: dark);

@import url('https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.css') screen
  and (prefers-color-scheme: light);

:root {
  --color-text-1: #000000;
  --color-text-2: #1a1a1a;
  --color-background-1: #ffffff;
  --color-accent: #d9450c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-1: #ffffff;
    --color-text-2: #eeeeee;
    --color-background-1: #121212;
    --color-accent: #ffa691;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a:not([class]) {
  color: var(--color-accent);

  &:hover {
    text-decoration: none;
  }
}
