.main {
  padding: 60px 80px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  .title {
    font-size: 36px;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: center;
  }

  .subtitle {
    font-size: 16px;
    font-weight: 800;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: center;
  }
}
