@import '@/styles/shared';

.root {
  @include z-index(page);
  @include horizontal-container();

  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  opacity: 0;
}
