@import '@/styles/shared';

.root {
  display: flex;
  flex-direction: column;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: px(15) px(30);
    text-align: left;

    &:first-child {
      margin-block-start: 0;
    }
  }

  p {
    margin-block-end: px(14);
    text-align: left;
  }

  picture {
    margin-block-end: px(20);
  }
}
