@import '@/styles/shared';

.root {
  display: flex;
  flex-direction: column;
  inline-size: phone-columns(6);
  margin: px(20) auto;

  @include media-desktop {
    inline-size: desktop-columns(10);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block-end: px(30);
    text-align: left;
  }

  p {
    margin-block-end: px(14);
    text-align: left;
  }

  picture {
    margin-block-end: px(20);
  }
}
