@import '@/styles/shared';

.root {
  display: block;
  width: 100%;
  text-align: left;

  @include select-top-spacing;
  @include select-bottom-spacing;

  .wrapper {
    @include horizontal-container(desktop-columns(8), tablet-columns(6), phone-columns(8));
  }

  .image,
  .video {
    width: 100%;
  }

  .paragraphSpacer {
    block-size: px(30);
  }
}
